/.DS_Store
/DSO 545 - Homework 3 - Alberto Rivas II.pdf
/DSO 545_Lab 13 Exercise.ipynb
/DSO 545_Lab13 SOLUTIONS.ipynb
/DSO 545_PeerEvals.docx
/DSO545 Final Exam Sample Questions2.ipynb
/DSO545Lab9-Solution.ipynb
/DSO545_HW5-Questions.html
/DSO545_HW5-Questions.pdf
/DSO545_Lab12-SolutionsB.ipynb
/DSO545_Lab12.ipynb
/DSO545_Lab12BRegres_Exercise.ipynb
/DSO545_Lab12BRegres_Solutions(1) (1).ipynb
/DSO545_Lab12BRegres_Solutions(1).ipynb
/DSO545_Session9_Lab.ipynb
/Homework01_dso545_fall23-Questions.html
/Homework01_dso545_fall23-Questions.pdf
/Homework02_dso545_fall23_QUESTIONS.html
/Homework02_dso545_fall23_QUESTIONS.pdf
/Homework03_dso545_fall23_QUESTIONS.html
/Homework03_dso545_fall23_QUESTIONS.pdf
/Homework04_dso545_fall23_QUESTIONS(A)(1) (1).ipynb
/Homework04_dso545_fall23_QUESTIONS(A)(1).html
/Homework04_dso545_fall23_QUESTIONS(A)(1).pdf
/dso545_session02_CLASS(1).ipynb
/dso545_session03_LAB(A).ipynb
/dso545_session04_LAB(A).ipynb
/dso545_session05_LAB(A).ipynb
/dso545_session06_LAB(A).ipynb
/dso545_session06_SOL(1).ipynb
/dso545_session07_LAB(A).ipynb
/dso545_session10A_SOL-Copy3.ipynb
/dso545_session10A_SOL-PT1.ipynb
/dso545_session10_LAB(Part1)(1).ipynb
/dso545_week01_CLASS(3).ipynb
/newplot (1).png
/newplot (2).png
/newplot (3).png
/newplot (4).png
/newplot (5).png
/newplot (6).png
/newplot (7).png
/newplot (8).png
/newplot.png